<%- include('header',{title: 'Trang Chủ'}); -%>
<p>Xin chào <%= currentUser ? currentUser.displayName : 'Bạn'%></p>
<div style="text-align: center; font-size: 50px;color:blue"><a href="login">Login</a></a></div>
<h1 style="text-align: center; font-size: 30px;color:blue">Danh Sách Todo Todo</h1>
<h2 style="text-align: center; font-size: 30px;"><%= todo1 %></h2>
<h2 style="text-align: center; font-size: 30px;"><%= todo2 %></h2>
<%- include('footer'); -%>