<%- include('header',{title: 'Thông Tin Cá Nhân'}); -%>
<ul>
    <li><strong>ID:</strong><%= id %></li>
    <li><strong>Email:</strong><%= email %></li>
    <li><strong>Tên Hiển Thị:</strong><%= displayName %></li>
</ul>

<form method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="avatar">Ảnh đại diện</label>
      <input type="file" class="form-control-file" id="avatar" name="avatar">
    </div>
    <button type="submit" class="btn btn-primary">Đăng Ảnh Đại Diện</button>
    <a type="submit" href="logout" class="btn btn-primary">Đăng Xuất</a>
  </form>

<%- include('footer'); -%>
